.gif_suggestions {
    width: 502px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;

    position: absolute;
    top: -415px;

    background-color: #fff;

    border: 1px solid var(--background-color);
    border-radius: 6px;

    box-shadow: 0px 15px 40px -20px #000;
}

.gif_suggestions_loading {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_suggestions_images {
    width: 100%;
    padding: 5px;

    display: grid;
    grid-template-rows: repeat(auto-fill, 100px);
    column-gap: 5px;
    row-gap: 10px;
}
.gif_suggestions_images_row {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-around;
}
.gif_suggestions_image button {
    outline: none;
    cursor: pointer;
}
.gif_suggestions_image:focus-within img,
.gif_suggestions_image:hover img {
    outline: white solid 2px;
    transform: scale(1.1);
    box-shadow: 1px 10px 41px -6px #000;
}

.gif_suggestions_not_found {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
